<template>
  <div>
    <div class="d-flex layout-filter filter-container">
      <nuxt-link to="/thanks" class="btn btn-print">PRINT</nuxt-link>
      <img src="/frames/1.jpg" style="width: 35%" />
      <button class="btn btn-retake">RETAKE(2)</button>
      <!-- <label  class="btn label-filter" for="">SELECT FILTERS</label> -->
    </div>
    <h2 class="btn label-filter">SELECT FILTERS</h2>
    <div class="center-filters text-center">
      <button class="btn btn-filter">ORIGINAL</button>
      <button class="btn btn-filter">SEPIA</button>
      <button class="btn btn-filter">BLACK & WHITE</button>
      <button class="btn btn-filter">VALENCIA</button>
    </div>
  </div>
</template>
<script>
export default {};
</script>
