<template>
  <div>
    <button class="text-frame">
      <h1>SELECT YOUR FRAME</h1>
    </button>
    <v-slide-group
      v-model="model"
      class="layout-frame"
      active-class="success"
      show-arrows
    >
      <v-slide-item
        v-for="(item, index) in 10"
        :key="index"
        v-slot="{ active, toggle }"
      >
        <v-card
          :color="active ? undefined : 'grey lighten-1'"
          class="ma-4 pa-4 ml-3"
          height="709"
          width="472"
          @click="toggle"
        >
          <v-img :src="`/frames/${item}.jpg`" class="w-100" />
        </v-card>
      </v-slide-item>
      <template #prev="{ on }">
        <button class="v-slide-group__prev prev" v-on="on">
          <img src="/previous.png" alt="" />
        </button>
      </template>
      <template #next="{ on }">
        <button class="v-slide-group__next next" v-on="on">
          <img src="/next.png" alt="" />
        </button>
      </template>
    </v-slide-group>
    <nuxt-link to="/filter" class="btn btn-camera">
      <img src="/camera.png" style="width: 25%" />
    </nuxt-link>
  </div>
</template>

<script>
export default {
  data() {
    return {
      model: null,
    };
  },
};
</script>
