<style>
.home-page {
  background-image: url("/background.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}
</style>

<template>
  <div class="home-page">
    <div class="d-flex">
      <div class="head-title">
        <nuxt-link to="/payment" class="dc-none">
          <h1 class="btn btn-start"></h1>
        </nuxt-link>
        <div class="mt-5"></div>
        <div class="group-input d-flex">
          <input
            type="text"
            class="input-voucher form-control"
            placeholder="Redeem your code here"
          />
          <button class="btn-voucher ml-2">VERIFY</button>
        </div>
        <div class="error-message">Voucher Not Found</div>
      </div>
    </div>
  </div>
</template>
<script>
export default {};
</script>
