<template>
  <div>
    <img src="qris.png" class="image-payment" />
    <nuxt-link to="/frame">
      <img
        src="https://sobat.sgp1.cdn.digitaloceanspaces.com/photo-booth%2Fframe-payment.png"
        class="mx-auto d-block frame-payment"
        style="width: 20%"
      />
    </nuxt-link>
  </div>
</template>
<script>
export default {};
</script>
