<template>
  <div style="margin-top: 7%">
    <img src="/logo-instaroom.png" class="logo-instaroom" />
    <img class="image-printing" src="/logo-printing.png" />
    <img src="/frames/1.jpg" class="image-thanks mt-2" /> <br />
    <h1 class="label-thanks">Please wait until your moments come to life</h1>
    <img src="/logo-instaroom2.png" class="logo-instaroom2" />
  </div>
</template>
